// HERO
.hero
  .hero__background
    img(src='img/hero_desktop.jpg' srcset='img/hero_desktop@2x.jpg')
  .hero__content
    .container
      h1.h1-title.hero__title Союз журналистов России <br/> и Tele2
      p.p-main Специальная  акция от Теле2 для  членов Союза журналистов России

