// modals
#THANKS.mfp-hide.popup-dialog
  .popup
    .popup__title.h3-title Заявка отправлена
    p Ваша заявка успешно отправлена! Скоро с вами свяжется наш менеджер, чтобы уточнить все необходимые детали.

    .popup__cta
      a(href="#").btn.btn-outline.btn--huge.js-close-popup Закрыть
