include ../utilities/_mixins
doctype html
html(lang="en")
  head
    include _head

  body
    .page(class=outClass)
      block header
        include ../../components/header/_header

      .page__content
        block content

      block footer
        include ../../components/footer/_footer

    block scripts
      include _scripts
