include ../utilities/_mixins
doctype html
html(lang="ru")
  head
    include _head

  body
    .page(class=outClass)
      block header
        include ../../components/header/_header

      .page__content
        block content

      block footer
        include ../../components/footer/_footer

      block modals
        include ../../components/popup/_region
        include ../../components/popup/_tarif
        include ../../components/popup/_thanks
        include ../../components/popup/_terms

    block scripts
      include _scripts
