// tarif
include _tarif-card

.tarif
  .container
    h2.h2-title.tarif__title Связь для журналистов

    .tarif__grid
      .tarif__col
        +tarifCard({name: 'Компаньон S', price: '250'})
      .tarif__col
        +tarifCard({name: 'Компаньон M', price: '400'})
      .tarif__col
        +tarifCard({name: 'Компаньон L', price: '600'})


// modals
#TARIF.mfp-hide.popup-dialog
  .popup-tarif
    .popup-tarif__title.h3-title Компаньон S
    table.table
      tr
        td Стоимость:
        td 250 руб./ мес.
    .accardeon.js-accardeon
      // accardeon__element (active)
      .accardeon__element.is-active
        .accardeon__toggler
          .accardeon__title Что входит в тариф?
        .accardeon__content(style="display: block")
          table.table
            tr
              td Интернет:
              td 20 Гб или Безлимитно за 100 ₽/мес.
            tr
              td Звонки:
              td 500 минут
            tr
              td Сообщения:
              td 100 SMS
            tr
              td Остатки пакетов:
              td Не использованные остатки пакетов интернета, минут и SMS переносятся на следующий месяц
            tr
              td Безлимитные соцсети:
              td Фейсбук, ВКонтакте, Одноклассники
            tr
              td Безлимитные мессенджеры:
              td Ватсап, Вайбер (кроме звонков/ видеозвонков)
            tr
              td Безлимитные сервисы:
              td Яндекс Карты, Яндекс Навигатор, Яндекс Транспорт

      // accardeon__element (active)
      .accardeon__element
        .accardeon__toggler
          .accardeon__title Дополнительная информация
        .accardeon__content
          table.table
            tr
              td Интернет:
              td Интернет работает по всей России без доплат, кроме Крыма*. Если закончился пакет – доступ приостанавливается
            tr
              td Звонки в своём регионе:
              td Звонки абонентам Теле2 не тарифицируются, для всех остальных сверх включённого пакета – 1,95 руб. за минуту
            tr
              td Звонки по России:
              td Звонки абонентам Теле2 не тарифицируются, для всех остальных сверх включённого пакета – 9 руб. за минуту
            tr
              td Звонки из России:
              td Звонки в СНГ – 30 руб. за минуту, в Европу – 49 руб. за минуту, в остальные страны – 69 руб. за минуту
            tr
              td SMS в своём регионе:
              td Сверх пакета – 1,50 руб. за SMS
            tr
              td SMS по России:
              td Сверх пакета – 2,50 руб. за SMS
            tr
              td SMS на международный номер:
              td 5,50 руб. за SMS
            tr
              td MMS:
              td 6 руб. за MMS
            tr
              td Круглосуточная техподдержка:
              td Бесплатные звонки на номер 636

          p * услуги связи в Крыму тарифицируются отдельно, уточнить информацию можно по номеру круглосуточной техподдержки 636

    .popup-tarif__cta
      a(href="#").btn.btn-outline.btn--huge Закрыть
