// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="homepage.html").header__logo
        +svgMono('logo')
      a(href="#" target="_blank").header__logo-sjr
        i.icon.icon-sjr-logo

      .header__region Ваш регион <span>Москва и Московская область</span>

      a(href="#").header__phone
        +svgMono('phone')
        span 8 800 550 00 50
      //- .header__hamburger
      //-   .hamburger.hamburger--squeeze(js-hamburger)
      //-     .hamburger-box
      //-       .hamburger-inner
