/* HEADER
.header
  position: relative
  z-index: 9
  background: white
  padding: 15px 0
  border-bottom: 1px solid #979797
  &__wrapper
    display: flex
    align-items: center
  &__logo
    flex: 0 0 auto
    margin-right: 50px
    .ico
      font-size: 33px
  &__region
    position: relative
    margin-left: auto
    margin-right: auto
    margin-bottom: 3px
  &__region-text
    font-family: $serif
    font-size: 18px
    a
      position: relative
      display: inline-block
      // text-decoration: underline
      &::after
        display: block
        content: ' '
        position: absolute
        left: 0
        bottom: -1px
        right: 0
        height: 1px
        background: $fontColor
        transition: .25s $ease
      &:hover
        &::after
          right: 100%
  &__region-modal
    min-width: 458px
    position: absolute
    z-index: 7
    left: 0
    top: 40px
  &__region-icon
    display: none
  &__phone
    display: flex
    align-items: center
    margin-left: auto
    transition: .25s $ease
    .ico
      font-size: 22px
    span
      display: inline-block
      margin-left: 15px
      font-family: $serif
      font-size: 18px
    &:hover
      color: $colorPrimary

+r($lg)
  .header
    &__logo
      margin-right: 35px
    &__region-text
      a
        margin-top: 4px
        display: block
    &__region-modal
      min-width: 375px
      top: 50px
    &__phone
      padding: 10px
      margin-right: -10px
      .ico
        font-size: 22px
      span
        display: none

+r($md)
  .header
    padding: 13px 0
    &__logo
      order: 1
      margin-right: 25px
      .ico
        font-size: 20px
    &__logo-sjr
      order: 2
      width: 90px
      height: 34px
      .icon
        transform: scale(0.6)
        transform-origin: left top
    &__region
      order: 4
      position: static
      margin-right: -10px
      margin-left: 10px
      margin-bottom: 0
    &__region-icon
      display: block
      padding: 10px
      font-size: 0
      transition: color .25s $ease
      .ico
        font-size: 24px
      &:hover
        color: $colorPrimary
    &__region-text
      display: none
    &__region-modal
      top: 55px
      left: 25px
      right: 25px
      min-width: 1px
    &__phone
      order: 3
      margin-right: 0

+r($sm)
  .header
    &__region-modal
      left: 15px
      right: 15px


// region modal
.region-modal
  background: white
  border: 2px solid $fontColor
  padding: 35px
  opacity: 0
  pointer-events: none
  transform: translate(0,7px)
  transition: .25s $ease
  &.is-visible
    transform: none
    opacity: 1
    pointer-events: all
  &__wrapper
    position: relative
  &__title
    padding-right: 40px
  &__close
    position: absolute
    top: 30px
    right: 25px
    padding: 10px
    font-size: 0
    cursor: pointer
    transition: .25s $ease
    .ico
      font-size: 24px
    &:hover
      color: $colorPrimary
  &__cta
    margin-top: 20px
    display: flex
    .btn
      margin-right: 20px

+r($lg)
  .region-modal
    &__close
      top: 13px
      right: 5px
      .ico
        font-size: 17px

+r($sm)
  .region-modal
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 30px
