// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      .footer__copy © ООО «Мобилюкс», 2020
      .footer__payments
        .footer__payment
          +svgColor('visa')
        .footer__payment
          +svgColor('master')
        .footer__payment
          +svgColor('mir-logo')

      .footer__socials
        ul.footer__socials-list
          li
            a(href="#" target="_blank")
              +svgColor('social-facebook')
          li
            a(href="#" target="_blank")
              +svgColor('social-vk')
          li
            a(href="#" target="_blank")
              +svgColor('social-ok')
          li
            a(href="#" target="_blank")
              +svgColor('social-youtube')
          li
            a(href="#" target="_blank")
              +svgColor('social-instagramm')
          li
            a(href="#" target="_blank")
              +svgColor('social-telegramm')
          li
            a(href="#" target="_blank")
              +svgColor('social-twitter')
// FOOTER :: END
