// FONTS
@font-face {
  font-family: 'Tele2 Display Serif';
  src: url('../fonts/eba24039503c1f79a475470be6f7927d.eot');
  src: url('../fonts/eba24039503c1f79a475470be6f7927d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eba24039503c1f79a475470be6f7927d.woff2') format('woff2'),
    url('../fonts/eba24039503c1f79a475470be6f7927d.woff') format('woff'),
    url('../fonts/eba24039503c1f79a475470be6f7927d.ttf') format('truetype'),
    url('../fonts/eba24039503c1f79a475470be6f7927d.svg#') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tele2 Display Serif';
  src: url('../fonts/Tele2DisplaySerif-Regular.eot');
  src: url('../fonts/Tele2DisplaySerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tele2DisplaySerif-Regular.woff2') format('woff2'),
    url('../fonts/Tele2DisplaySerif-Regular.woff') format('woff'),
    url('../fonts/Tele2DisplaySerif-Regular.ttf') format('truetype'),
    url('../fonts/Tele2DisplaySerif-Regular.svg#Tele2DisplaySerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tele2 TextSans Web SHORT';
  src: url('../fonts/Tele2TextSansWebSHORT-Regular.eot');
  src: url('../fonts/Tele2TextSansWebSHORT-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tele2TextSansWebSHORT-Regular.woff2') format('woff2'),
    url('../fonts/Tele2TextSansWebSHORT-Regular.woff') format('woff'),
    url('../fonts/Tele2TextSansWebSHORT-Regular.ttf') format('truetype'),
    url('../fonts/Tele2TextSansWebSHORT-Regular.svg#Tele2TextSansWebSHORT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tele2 TextSans Web SHORT';
  src: url('../fonts/Tele2TextSansWebSHORT-Bold.eot');
  src: url('../fonts/Tele2TextSansWebSHORT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tele2TextSansWebSHORT-Bold.woff2') format('woff2'),
    url('../fonts/Tele2TextSansWebSHORT-Bold.woff') format('woff'),
    url('../fonts/Tele2TextSansWebSHORT-Bold.ttf') format('truetype'),
    url('../fonts/Tele2TextSansWebSHORT-Bold.svg#Tele2TextSansWebSHORT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Standard CT Stencil';
  src: url('../fonts/StandardCTStencil-Bold.eot');
  src: url('../fonts/StandardCTStencil-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StandardCTStencil-Bold.woff2') format('woff2'),
    url('../fonts/StandardCTStencil-Bold.woff') format('woff'),
    url('../fonts/StandardCTStencil-Bold.ttf') format('truetype'),
    url('../fonts/StandardCTStencil-Bold.svg#StandardCTStencil-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
