.ico-mono-caret {
  width: 1.43em;
  height: 1em;
  fill: #1F2229;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #1F2229;
}
.ico-mono-location {
  width: 0.72em;
  height: 1em;
  fill: #1F2229;
}
.ico-mono-logo {
  width: 2.67em;
  height: 1em;
  fill: #1F2229;
}
.ico-mono-phone {
  width: 0.79em;
  height: 1em;
  fill: #1F2229;
}
.ico-mono-rub {
  width: 0.76em;
  height: 1em;
  fill: #1F2229;
}
