.ico-color-invalid {
  width: 1em;
  height: 1em;
}
.ico-color-master {
  width: 1.6em;
  height: 1em;
}
.ico-color-mir-logo {
  width: 3.5em;
  height: 1em;
}
.ico-color-social-facebook {
  width: 1em;
  height: 1em;
}
.ico-color-social-instagramm {
  width: 1em;
  height: 1em;
}
.ico-color-social-ok {
  width: 1em;
  height: 1em;
}
.ico-color-social-telegramm {
  width: 1em;
  height: 1em;
}
.ico-color-social-transport {
  width: 1em;
  height: 1em;
}
.ico-color-social-twitter {
  width: 1em;
  height: 1em;
}
.ico-color-social-viber {
  width: 1em;
  height: 1em;
}
.ico-color-social-vk {
  width: 1em;
  height: 1em;
}
.ico-color-social-whatsapp {
  width: 1em;
  height: 1em;
}
.ico-color-social-ymaps {
  width: 1em;
  height: 1em;
}
.ico-color-social-ynav {
  width: 1em;
  height: 1em;
}
.ico-color-social-youtube {
  width: 1em;
  height: 1em;
}
.ico-color-visa {
  width: 3.07em;
  height: 1em;
}
